<form [formGroup]="loginFormsGroup" (ngSubmit)="login()">
  <fieldset>
    <h1>Login</h1>
    <div class="form-floating mb-3">
      <input type="email" formControlName="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
      <ng-container *ngIf="loginFormsGroup.controls['email'].touched && loginFormsGroup.controls['email'].invalid">
        <p *ngIf="loginFormsGroup.controls['email'].errors['required']" class="error">
          Email is required!
        </p>
        <p *ngIf="!loginFormsGroup.controls['email'].errors['required'] && loginFormsGroup.controls['email'].errors['email']"
          class="error">
          Email is not valid!
        </p>
      </ng-container>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword"
        placeholder="Password">
      <label for="floatingPassword">Password</label>
      <ng-container
        *ngIf="loginFormsGroup.controls['password'].touched && loginFormsGroup.controls['password'].invalid">
        <p *ngIf="loginFormsGroup.controls['password'].errors['required']" class="error">
          Password is required!
        </p>
        <p *ngIf="loginFormsGroup.controls['password'].errors['minlength']" class="error">
          Password must be at least 5 characters!
        </p>
      </ng-container>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginFormsGroup.invalid">Submit</button>

    <p class="text-center">
      Don't have an account?
      <a routerLink="/user/register">Register</a>
    </p>
  </fieldset>
</form>