<form [formGroup]="registerFormsGroup" (ngSubmit)="register()">
    <fieldset>
        <h1>Register</h1>
        <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control" id="floatingInput"
                placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            <ng-container
                *ngIf="registerFormsGroup.controls['email'].touched && registerFormsGroup.controls['email'].invalid">
                <p *ngIf="registerFormsGroup.controls['email'].errors['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="!registerFormsGroup.controls['email'].errors['required'] && registerFormsGroup.controls['email'].errors['email']"
                    class="error">
                    Email is not valid!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="password" formControlName="password" class="form-control" id="floatingPassword"
                placeholder="Password" required>
            <label for="floatingPassword">Password</label>
            <ng-container
                *ngIf="registerFormsGroup.controls['password'].touched && registerFormsGroup.controls['password'].invalid">
                <p *ngIf="registerFormsGroup.controls['password'].errors['required']" class="error">
                    Password is required!
                </p>
                <p *ngIf="registerFormsGroup.controls['password'].errors['minlength']" class="error">
                    Password must be at least 5 characters!
                </p>
            </ng-container>
        </div>

        <br>
        <div class="form-floating">
            <input type="password" formControlName="rePassword" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Repeat Password</label>
            <ng-container *ngIf="registerFormsGroup.controls['rePassword'].touched">
                <p *ngIf="registerFormsGroup.controls['rePassword'].errors['passwordMatch']" class="error">Password's
                    don't match!</p>
            </ng-container>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="registerFormsGroup.invalid">Submit</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/user/login">Log In</a>
        </p>
    </fieldset>
</form>