<div class="center">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" id="center">
        <div class="card-header">Welcome</div>
        <div class="card-body">
            <h4 class="card-title">To FootShop store</h4>
            <p class="card-text">This is a app from Stalio Kirkov all rights reserved!</p>
        </div>
        <button type="button" class="btn btn-secondary" *ngIf="!isLogged" routerLink="/user/login">Login</button>
        <button type="button" class="btn btn-secondary" *ngIf="!isLogged" routerLink="/user/register">Register</button>
    </div>
</div>