<form [formGroup]="editShoeGroup" (ngSubmit)="editShoe()">
    <fieldset>
        <h1>Edit Shoe</h1>

        <div class="form-floating">
            <input type="text" formControlName="brand" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Brand</label>
            <ng-container
                *ngIf="editShoeGroup.controls['brand'].touched && editShoeGroup.controls['brand'].invalid">
                <p *ngIf="editShoeGroup.controls['brand'].errors['required']" class="error">
                    Brand is required!
                </p>
                <p *ngIf="editShoeGroup.controls['brand'].errors['minlength']" class="error">
                    Brand must be at least 4 characters!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="model" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Model</label>
            <ng-container
                *ngIf="editShoeGroup.controls['model'].touched && editShoeGroup.controls['model'].invalid">
                <p *ngIf="editShoeGroup.controls['model'].errors['required']" class="error">
                    Model is required!
                </p>
                <p *ngIf="editShoeGroup.controls['model'].errors['minlength']" class="error">
                    Model must be at least 4 characters!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="year" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Year</label>
            <ng-container
                *ngIf="editShoeGroup.controls['year'].touched && editShoeGroup.controls['year'].invalid">
                <p *ngIf="editShoeGroup.controls['year'].errors['required']" class="error">
                    Year is required!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="img" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Image</label>
            <ng-container
                *ngIf="editShoeGroup.controls['img'].touched && editShoeGroup.controls['img'].invalid">
                <p *ngIf="editShoeGroup.controls['img'].errors['required']" class="error">
                    Image is required!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="material" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Material</label>
            <ng-container
                *ngIf="editShoeGroup.controls['material'].touched && editShoeGroup.controls['material'].invalid">
                <p *ngIf="editShoeGroup.controls['material'].errors['required']" class="error">
                    Material is required!
                </p>
                <p *ngIf="editShoeGroup.controls['material'].errors['minlength']" class="error">
                    Material must be at least 4 characters!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="price" class="form-control" id="floatingPassword"
                placeholder="Price">
            <label for="floatingPassword">Price</label>
            <ng-container
                *ngIf="editShoeGroup.controls['price'].touched && editShoeGroup.controls['price'].invalid">
                <p *ngIf="editShoeGroup.controls['price'].errors['required']" class="error">
                    Price is required!
                </p>
                <p *ngIf="editShoeGroup.controls['price'].errors['min']" class="error">
                    Price must minimum 50!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="description" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Description</label>
            <ng-container
                *ngIf="editShoeGroup.controls['description'].touched && editShoeGroup.controls['description'].invalid">
                <p *ngIf="editShoeGroup.controls['description'].errors['required']" class="error">
                    Description is required!
                </p>
                <p *ngIf="editShoeGroup.controls['description'].errors['maxLength']" class="error">
                    Description must be max 30 characters long!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="size" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Size</label>
            <ng-container
                *ngIf="editShoeGroup.controls['size'].touched && editShoeGroup.controls['size'].invalid">
                <p *ngIf="editShoeGroup.controls['size'].errors['required']" class="error">
                    Description is required!
                </p>
                <p *ngIf="editShoeGroup.controls['size'].errors['maxLength']" class="error">
                    Size must be max 2 characters long!
                </p>
            </ng-container>
        </div>
        <div class="form-floating">
            <input type="text" formControlName="color" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">color</label>
            <ng-container
                *ngIf="editShoeGroup.controls['color'].touched && editShoeGroup.controls['color'].invalid">
                <p *ngIf="editShoeGroup.controls['color'].errors['required']" class="error">
                    Color is required!
                </p>
            </ng-container>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="editShoeGroup.invalid">Submit</button>
    </fieldset>
</form>